table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border: 2px solid#666;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th,
td {
    border: 1px solid #999;
    padding: 8px;
}

thead th,
tfoot tr {
    background-color: #000;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}