main {
    width: 1px;
    margin: 0 auto;
    padding: 2px;
    box-shadow: 0 0 30px;

}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid hsl(229, 65%, 26%);
    padding: 1em;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    padding: 15px 0;
    text-align: center;
}